name: Build documentation
on:
  push:
    branches:
      - main
  pull_request:

env:
  GITHUB_TOKEN: ${{ github.token }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write # To push a branch
      pages: write # To push to a GitHub Pages site
      id-token: write # To update the deployment status
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Mise
        uses: jdx/mise-action@c37c93293d6b742fc901e1406b8f764f6fb19dac # v2.4.4
        with:
          github_token: ${{ github.token }}
          version: 2025.10.11
          sha256:
            ${{ runner.os == 'Linux' && runner.arch == 'X64' && '589cac941160e404d13be6f5699a25ffdb25b732084430338bc384df9f0a4438' ||
            runner.os == 'Linux' && runner.arch == 'ARM64' && '4f9cb0ad59bd8d118f58812fc8baa3c09a732d01e10c650d49c6d0910b77e24d' ||
            runner.os == 'macOS' && runner.arch == 'ARM64' && 'ece0e7d3f50240fcdd562c3f4e2263596ba9162444e439617103c4a73a12409b' }}

      - run: mise mdbook:build

      - name: Setup Pages
        uses: actions/configure-pages@v4
        if: github.event_name == 'push' && vars.DEPLOY_GITHUB_PAGES == 'true'
        with:
          enablement: true
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        if: github.event_name == 'push' && vars.DEPLOY_GITHUB_PAGES == 'true'
        with:
          path: "doc/book"
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        if: github.event_name == 'push' && vars.DEPLOY_GITHUB_PAGES == 'true'
